.wrapper {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.signup_container {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
}
.signup_container h1 {
  text-align: center;
  color: #1877f2;
}
.form {
  display: flex;
  flex-direction: column;
}
.form_input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.form button {
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form button:active {
  transform: scale(0.95);
}
#signup {
  background-color: #42b72a;
  font-weight: bold;
}
#signup:hover {
  background-color: #3caa26;
}
#login_cta {
  display: flex;
  justify-content: center;
}
#login_link {
  margin: 0;
}
.err_text {
  font-size: 12px;
  color: red;
  margin: 0;
}
#separator {
  border-bottom: 1px solid #dadde1;
  margin: 1em 0;
}

/* Tablet styles */
@media (max-width: 768px) {
  .signup_container {
    width: 80%;
    max-width: 400px;
  }
}

/* Smartphone styles */
@media (max-width: 480px) {
  .wrapper {
    background-color: white;
  }
  .signup_container {
    width: 100%;
    padding: 1rem;
    box-shadow: none;
  }
  .form_input,
  .form button {
    font-size: 16px; /* Prevents zooming on iOS */
  }
}
